WebService-Java/webservice/WebContent/WEB-INF/wsdl/NotaFeijaoWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://feijao/" xmlns:tns="http://feijao/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="calculaMedia" type="tns:calculaMedia"/>

  <xs:element name="calculaMediaResponse" type="tns:calculaMediaResponse"/>

  <xs:complexType name="calculaMedia">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="calculaMediaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

